@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.btn {
  @apply bg-primary text-white font-sans text-base  font-bold rounded-sm border-none py-2 lg:py-3 px-12 transition-all inline-flex items-center gap-2;
}

.btn:hover {
  @apply bg-primary_hover;
}

.btn-gradient {
  @apply bg-gradient-to-r from-primary to-primary_hover text-white font-sans text-lg font-bold rounded-md border-none py-4 px-12 transition-all;
}

.btn-gradient:hover {
  @apply from-primary_hover to-primary_hover;
}

.btn-dark {
  @apply bg-dark text-white font-sans text-lg font-bold rounded-md outline-none border-none py-2 px-12 transition-all;
}

.btn-dark:hover {
  @apply bg-primary;
}

.btn-link {
  @apply !bg-transparent p-0 m-0 underline underline-offset-2;
}

.btn-white {
  @apply bg-white text-dark inline-flex items-center gap-1 shadow-xl;
}

.btn-white:hover {
  @apply bg-dark text-white;
}

.btn-outline-primary {
  @apply !bg-transparent !text-primary border border-primary !border-solid inline-flex items-center gap-1 rounded-md;
}

.btn-outline-primary:hover {
  @apply !bg-primary !text-white inline-flex items-center gap-1;
}

.btn-outline-white {
  @apply !bg-transparent !text-white border border-white !border-solid inline-flex items-center gap-1 rounded-md;
}

.btn-outline-white:hover {
  @apply !bg-white !text-dark inline-flex items-center gap-1;
}

.btn-outline-dark {
  @apply !bg-transparent !text-dark border border-dark !border-solid inline-flex items-center gap-1 rounded-md;
}

.btn-outline-dark:hover {
  @apply !bg-dark !text-white inline-flex items-center gap-1;
}

.grecaptcha-badge {
  display: none !important;
}
